@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  margin: auto 0;
  box-sizing: border-box;
  font-family: 'Calibri';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

a:link.email, a:visited.email {
  color: #f7cdcc;
  border: 1px solid #f7cdcc;
  border-radius: 4px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}

.position {
 font-size: 40px;
 font-weight: bold;
 padding-bottom: 10px;
}

.summary {
 font-size: 17px;
}

.title {
 font-size: 26px;
 font-weight: bold;
 padding-bottom: 30px;
}

.p-title {
 font-size: 24px;
 font-weight: bold;
 padding-bottom: 30px;
}

.contact {
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 30px; 
}

.exp-position {
  font-size: 20px;
  font-weight: bold;
}

.date {
  font-size: 15px;
  padding: 0px 0px 18px 0px;
}

.ode {
  padding: 35px 30px 30px 30px;

  background:  linear-gradient(
     rgba(26,26,26, 0.9), 
      rgba(26,26,26, 0.9)
    ),
    url(../static/ode.png);
}

.art {
  padding: 35px 30px 30px 30px;
  background: linear-gradient(
     rgba(26,26,26, 0.9), 
      rgba(26,26,26, 0.9)
    ),
    url(../static/artgallery.png);
}

.bluem {
  padding: 35px 30px 30px 30px;
  background: linear-gradient(
     rgba(26,26,26, 0.9), 
      rgba(26,26,26, 0.9)
    ),
    url(../static/blueme.png);
} 

.restaurants {
  padding: 35px 30px 30px 30px;
  background: linear-gradient(
     rgba(26,26,26, 0.9), 
      rgba(26,26,26, 0.9)
    ),
    url(../static/verygood.jpg);
}
 
.ode-btn {
    color: #cdccc6;
    font-size: 15px;
    padding-bottom: 10px;
  }
  
.atelier-btn {
    color: #cdccc6;
    font-size: 15px;
  }

.center {
   margin: 0 auto;
}

  /* Extra small devices (phones, 600px and down) */
  /* @media only screen and (max-width: 600px) {...} */
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  /* @media only screen and (min-width: 600px) {...} */
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  .experience {
    width: 600px;
  }

 .name, .position {
  font-size: 7vw;
} 

.summary-width {
  width: 600px;
}
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */