@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1a1a1a;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Calibri';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

a:link.email, a:visited.email {
  color: #f7cdcc;
  border: 1px solid #f7cdcc;
  border-radius: 4px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.name {
  font-size: 40px;
  font-weight: bold;
  line-height: 40px;
}

.position {
 font-size: 40px;
 font-weight: bold;
 padding-bottom: 10px;
}

.summary {
 font-size: 18px;
}

.title {
 font-size: 26px;
 font-weight: bold;
 padding-bottom: 30px;
}

.p-title {
 font-size: 24px;
 font-weight: bold;
 padding-bottom: 30px;
}

.contact {
  font-size: 38px;
 font-weight: bold;
 padding-bottom: 30px; 
}

